.footer {
    .choose-type {
        cursor: pointer;
        position: relative;

        .list-option {
            position: absolute;
            bottom: 100%;
            left: -16px;
            transform: translateY(-20px);
            opacity: 0;
            visibility: hidden;
            transition: 0.4s;
            z-index: 102;
            box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.15);
            min-width: 120px;
            padding: 8px 0;
            border-radius: 4px;
            overflow: hidden;
            margin-bottom: 10px;

            &::before {
                content: '';
                position: absolute;
                width: 12px;
                height: 12px;
                background-color: var(--white);
                transform: translateX(-50%) rotate(45deg);
                left: 50%;
                bottom: -5px;
                z-index: -1;
            }

            li {
                padding: 8px 16px;
                cursor: pointer;
                transition: 0.3s;
                list-style: none;

                &:hover {
                    background: rgba($color: #000000, $alpha: 0.6);
                    color: var(--white);
                }
            }

            &.open {
                transform: translateY(-10px);
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.style-watch {
    .footer {
        .footer-main {
            background: var(--surface1);
            color: var(--white);
        }

        .has-line-before {
            &::before {
                background-color: var(--white);
            }
        }

        .input-block {
            input {
                background: rgba($color: #FFFFFF, $alpha: 0.2);
            }
        }

        .text-black {
            color: var(--white);
        }

        .text-secondary {
            color: var(--white);
        }

        svg {
            fill: var(--white);
        }
    }
}