@use 'custom-swiper.scss';
@use 'loading.scss';
@use 'globals.scss';
@use 'modal.scss';
@use 'header.scss';
@use 'footer.scss';
@use 'product.scss';
@use 'blog.scss';
@use 'shop.scss';
@use 'faqs.scss';
@use 'service.scss';
@use 'insurance.scss';
@use 'cart.scss';
@use 'compare.scss';
@use 'store-location.scss';
@use 'layout/category-active.scss';
@use 'layout/text-has-line-before.scss';
@use 'layout/collection.scss';
@use 'layout/tab-features.scss';
@use 'layout/banner.scss';
@use 'layout/testimonial.scss';
@use 'layout/instagram.scss';
@use 'layout/benefit.scss';
@use 'layout/newsletter.scss';
@use 'layout/featured-product.scss';
@import 'icomoon/style.css';
@tailwind base;
@tailwind components;
@tailwind utilities;